@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply bg-[#193D2E] text-white antialiased font-sans;
    background-color: #193D2E;
    /* Включаем качественную отрисовку шрифта */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Форсируем правильное отображение знака бата для Inter Tight */
  span, p, div, h1, h2, h3 {
    font-variant-numeric: tabular-nums;
  }
}

@layer utilities {
  .backdrop-blur-3xl {
    -webkit-backdrop-filter: blur(60px);
    backdrop-filter: blur(60px);
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
