@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #193D2E !important;
    color: white !important;
    @apply antialiased;
  }
}

@layer utilities {
  /* Твое вчерашнее стекло */
  .backdrop-blur-3xl {
    -webkit-backdrop-filter: blur(60px) !important;
    backdrop-filter: blur(60px) !important;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
